*{
    box-sizing: border-box;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

body{
    h1{
        color: white;
    }
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #511cb3;
        padding: 0 25px;
        gap: 30px;
        .navBar{
            display: flex;
            width: 400px;
            padding: 15px;
            justify-content:space-between;
            align-items: center;
            li{
                list-style: none;
                a{
                    color: white;
                    text-decoration: none;
                }
            }
        }

        i{
            cursor: pointer;
            font-size: 1.3em;
            color: white;
        }
    }
}